---
---
.top-bar.expanded .title-area {
    background-color: #444;
}

.top-bar-section {
    li.active:not(.has-form) a:not(.button) {
        background-color: #eee;
    }

    @media only screen and (max-width: 60em) {
        .has-dropdown > a:after {
            margin-top: -10px;
            width: 0;
            height: 0;
            border-bottom: solid 5px transparent;
            border-top: solid 5px transparent!important;
            border-left: solid 7px rgba(153, 153, 153, 0.4);
        }
    }
}

body {
    div.sticky:not(.fixed) .title-area {
        img {
            width: 30px!important;
            padding-right: 7px!important;
        }

        a {
            font-size: 1.25em!important;
        }
    }

    .title-area a {
        background-color: transparent!important;
    }

    .parallax {
        border-top: 40px solid #444;
        margin-top: -40px;
    }

    div.contain-to-grid, nav.top-bar, nav.top-bar li a {
        background-color: #444!important;
        color: #eee!important;
    }

    nav.top-bar li.active a, nav.top-bar li a:hover {
        background-color: #666 !important;
        color: #fff !important;
    }
}

.f-topbar-fixed.shrink .top-bar .title-area li.menu-icon {
    margin-top: -30px;
}

// .f-topbar-fixed.shrink {
//     div.contain-to-grid, nav.top-bar, nav.top-bar li a {
//         opacity: 0.9;
//     }
// }

.contain-to-grid {
    -moz-box-shadow: none;
    -webkit-box-shadow: none;
    box-shadow: none;
    // -moz-box-shadow: 0 4px 15px 0 rgba(0, 0, 0, 0.25);
    // -webkit-box-shadow: 0 4px 15px 0 rgba(0, 0, 0, 0.25);
    // box-shadow: 0 4px 15px 0 rgba(0, 0, 0, 0.25);
}

/* header */
.title-area .name {
    a {
        font-size: 1rem !important;
    }

    img {
        width: auto !important;
        padding-right: 5px;
    }
}

/* mentors */
.mentor-image {
	margin-top: 20px;
	margin-right: 20px;
	margin-bottom: 10px;
	width: 200px;
	max-width: 33%;
}

.mentor-content {
    margin-top: 20px;
}

.highlighted-content {
    background-color: #e7e7e7;
}

.modBlogPost.mentor {
    height: 700px;
    overflow-y: auto;
    overflow-x: hidden;
    
    img {
        width: 100%;
        max-width: 300px;
        height: 300px;
        object-fit: cover;
        border-radius: 20px;
        margin-left: 20px;
        margin-right: 20px;
        margin-top: 20px;
    }
}

#footer {
    background-color: #444;

    ul {
        padding-left: 0;
    }
}

.footer-logo {
    img {
        width: auto !important;
        padding-right: 5px;
    }

    span {
        font-size: 1rem !important;
        text-transform: uppercase;
        color: #eee;
    }
}