---
---

/* header */
.title-area .name {
    a {
        font-size: 1rem !important;
    }

    img {
        width: auto !important;
        padding-right: 5px;
    }
}

/* mentors */
.modBlogPost.mentor {
    height: 700px;
    overflow-y: auto;
    overflow-x: hidden;
    
    img {
        width: 100%;
        max-width: 300px;
        height: 300px;
        object-fit: cover;
        border-radius: 20px;
        margin-left: 20px;
        margin-right: 20px;
        margin-top: 20px;
    }
}