---
---

body.sushi {
	/*.row {
		img {
			width: 100%;
		}
	}*/
	.sushi-header {
		background-color: #eee;
		padding-top: 40px;
		
		ul {
			padding-left: 0px;
		}
	}

	.sushi-header + .full {
		padding-top: 40px;
	}

	.sushi-intro {
        img {
            width: 100%;
        }

		table.sushi-stats {
			background-color: #FFF59D;
			width: auto;

			tr:first-of-type {
				td {
					border-top: none;
				}
			}

			td {
				padding: 5px 20px;
				line-height: 1.3em;
				border-top: 1px solid #fff;

				&:nth-of-type(2) {
					text-align: right;
				}
			}
		}
	}

	.sushi-overview {
		img {
			margin: 0;
			width: auto;
		}

		.sushi-sprites-overview {
			width: auto;
		}

		.sushi-customes {
			padding-left: 0;

			li {
				list-style-type: none;
				display: inline;

				> * {
					margin-bottom: 2px;
				}
			}
		}
	}

	.tip {
		background-color: #FFF59D;
		padding: 10px 20px;
	}

	h2, h3 {
		clear: both;
	}

	p {
		clear: both;
	}

	ul {
		padding-left: 20px;
	}

	ol {
		padding-left: 20px;

		li {
			clear: both;
			padding-bottom: 10px;
			padding-top: 20px;
			border-top: 1px dotted #666666;
		}

		li:first-of-type {
			padding-top: 0;
			border-top: none;
		}

		li img {
			padding-top: 20px;
			max-width: 100%;
		}

		li img.right {
			width: 50%;
			padding-top: 0;
			padding-left: 20px;
			padding-bottom: 20px;
			float: right;
		}
	}

	.row.sushi-scripts {
		.sushi-numbering {
			display: inline-block;
			float: left;
			color: #fff;
			background-color: #0288d1;
			border-radius: 50%;
			font-size: 20px;
			font-weight: bold;
			width: 40px;
			line-height: 40px;
			text-align: center;
			margin-right: 20px;
			margin-bottom: 20px;
		}

		img {
			width: 100%;
			padding-top: 0;
		}

		p {
			clear: none;
		}

		hr {
			margin-top: 0;
			background-color: #ddd;
		}
	}

	.center {
		text-align: center;
	}

	div.plainOrderedList {
		li {
			padding-top: 0;
			padding-bottom: 0;
			border-top: none;
		}
	}

	@media print {
		/*@page {
			margin: 1cm;
		}*/
		body {
			margin: 0;
			padding: 0;
		}

		h1 {
			margin-top: 0;
		}

		.container {
			min-width: 100%;
		}

		.navbar {
			display: none;
		}
	}

	img.full {
		width: 100%;
	}

	img.max-full {
		max-width: 100%;
	}

	img.floatLeft {
		float: left;
	}

	div.cd-alert-large {
		margin-top: 40px;
		font-size: 24px;
		text-align: center;
	}

	div.cd-alert-medium {
		font-size: 20px;
		text-align: center;
	}

	div.empty-page {
		height: 100vh;
	}

	@media print {
		.page-break-before {
			page-break-before: always;
		}
	}
}
