body {
    font-family: Verdana;
    padding: 20px;
}

#svg {
    background-color: lightblue;
}

circle {
    stroke: black;
}

text {
    stroke: black;
    font-size: 30px;
    line-height: 30px;
}