/* colors */

$primary-color: #129ad4;
$secondary-color: #bdbdbd;
$success-color: #62b84d;
$danger-color: #e13b3d;
$info-color: #953e93;

$font-color: #333;

$coderdojo-color: $primary-color;
$coderdojo-virtual-color: $success-color;
$coderdojo-playground-color: #FF8F00;
$coderdojo-classroom-color: #9575CD;

$dark-background: #272727;
$light-background: #eaeaea;
$shadow-color: rgba(#000,.05);
$border-color: #dee2e6;

$yellow: #f8b732;