/* colors */

$primary-color: #03a9f4;
$secondary-color: #bdbdbd;
$success-color: #8bc34a;
$danger-color: #e53935;
$info-color: #b3e5fc;

$font-color: #333;

$coderdojo-color: $primary-color;
$coderdojo-virtual-color: $success-color;
$coderdojo-playground-color: #FF8F00;
$coderdojo-classroom-color: #9575CD;

$dark-background: #272727;