@import 'variables';

body {
    font-family: "Open Sans", "Helvetica Neue", Arial, sans-serif;
    font-size: 16px;
    position: relative;
    padding-bottom: 120px;
    min-height: 100vh;
    font-weight: normal;
    letter-spacing: 0.6px;
}

img {
    max-width: 100%;
}

section {
    padding-top: 80px;
    padding-bottom: 80px;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    margin-top: 0;
    margin-bottom: 0;
    margin-block-start: 3rem;
    margin-block-end: 1rem;
}

h1,
h2 {
    text-align: center;

    &::after {
        display: block;
        width: 50px;
        text-align: center;
        content: '';
        margin: 1rem auto 0 auto;
        margin-block-end: 2rem;
        border-bottom: 3px solid $primary-color;
    }
}

p {
    color: $font-color;
}

p:empty {
    margin-bottom: 0;
}

hr.full {
    border-color: $primary-color;
    border-width: 1px;
    width: 100%;
    margin-block-start: 2rem;
    margin-block-end: 2rem;
}

pre {
    padding: 10px 20px;
}

.btn {
    padding: .375rem 2rem;
}

/* sections */
section {

    h1,
    h2 {
        &:first-of-type {
            margin-block-start: 0;
        }
    }

    &:first-of-type {

        h1,
        h2 {
            &:first-of-type {
                margin-block-start: 1em;
            }
        }
    }
}

section.primary {
    background-color: $primary-color;
    color: #fff;

    h1,
    h2 {
        &::after {
            border-bottom-color: #fff;
        }
    }

    p {
        color: #fff;
    }

    a {
        color: #fff;
        text-decoration: underline;
    }
}

nav.breadcrumb-nav {
    text-transform: uppercase;
    // letter-spacing: 1px;
    font-weight: 300;
    font-size: 15px;
}

/* navigation */
.navbar {
    height: 50px;
    background-color: #fff !important;
    font-weight: bold;
    text-transform: uppercase;
    font-size: 14px;
    font-weight: 700;
    letter-spacing: 1px;
    box-shadow: 5px 5px 15px 15px rgba(#000, 0.1);
    border-bottom: 1px solid rgba(#000, 0.15);

    @media(max-width: 991.98px) {
        .container {
            margin-top: -5px;
        }
    }

    .dropdown-item {
        text-transform: none;
    }

    .nav-item a.nav-link {
        color: #333;
        padding-left: 16px;
        padding-right: 16px;
    }

    .nav-item.active a.nav-link {
        color: $primary-color;
    }

    .navbar-toggler {
        font-size: 14px;
    }

    .navbar-collapse {
        background-color: transparent;
    }

    &.hero-navbar {
        background-color: transparent !important;
        box-shadow: none;
        border-bottom: 1px solid transparent;
        transition: all 0.5s;

        .nav-item a.nav-link {
            color: #fff;
        }
    }

    &.hero-navbar.navbar-scroll {
        background-color: #fff !important;
        box-shadow: 5px 5px 15px 15px rgba(#000, 0.1);
        border-bottom: 1px solid rgba(#000, 0.15);

        .nav-item a.nav-link {
            color: #333;
        }
    }
}

/* footer */
footer {
    text-align: center;
    background: $dark-background;
    padding: 2rem 0;
    position: absolute;
    width: 100%;
    bottom: 0;
    height: 120px;
}

footer p {
    font-weight: 300;
    font-size: 12px;
    color: #fff;
    letter-spacing: 2px;
}

footer p a {
    color: #fff;
}

footer p a:hover {
    color: #fff;
    text-decoration: none;
}

/* breadcrumb */
ol.breadcrumb {
    background-color: transparent;
    padding: 0;
    margin-block-start: 2rem;
    margin-block-end: 1rem;
}

nav.breadcrumb-nav+h1 {
    margin-block-start: 0rem;
}

/* hero area */
.hero-area {
    height: 100vh;
    width: 100%;
    // display: flex;
    // justify-content: center;
    // align-items: center;
    // background: linear-gradient(rgba(255, 255, 255, 0.0),
    //         rgba(255, 255, 255, 0.0)), url(img/hero-image.png);
    // background-position: bottom center;
    // background-size: cover;
    // background-attachment: fixed;
    //color: #fff;
    transform: translate3d(0, 0, 0);
    position: relative;

    .hero {
        position: absolute;
        top: 0;
        left: 0;
        height: calc(100% - 250px);
        width: 100%;
    }

    .description {
        position: absolute;
        bottom: 0;
        left: 0;
        height: 250px;
        width: 100%;
        background-color: $primary-color;
        color: #fff;
        text-transform: uppercase;
        display: flex;
        align-items: center;
        justify-content: center;

        h1 {
            font-size: 3rem;
            font-family: 'Indie Flower', cursive;
            line-height: 1em;
            margin-block-start: 0 !important;
            margin-top: 0;
            margin-block-end: 0;
            margin-bottom: 0;
            font-weight: 600;
            letter-spacing: 2px;

            &::after {
                content: '';
                border: none;
                margin: 0;
            }
        }

        h2 {
            margin-block-start: 0.5rem !important;
            font-size: 1.3rem;
            margin-block-end: 2rem;

            &::after {
                content: '';
                border: none;
                margin: 0;
            }
        }

        @media(max-width: 991.98px) {
            h1 {
                font-size: 2rem;
            }

            h2 {
                font-size: 1rem;
            }
        }
    }

    @each $index,
    $speed,
    $height in (1, 1000s, 100vh),
    (2, 600s, 100vh),
    (3, 500s, 120vh),
    (4, 300s, 80vh),
    (5, 150s, 60vh) {
        .layer-#{$index} {
            background: url('/img/hero/layer#{$index}.png') 0 100% repeat-x;
            z-index: 1;
            position: absolute;
            bottom: 0;
            left: 0;
            width: 100%;
            height: 100%;
            background-size: auto $height;
            overflow-x: hidden;
        }
    }

    @each $index,
    $speed,
    $height in (4, 1000s, 80vh),
    (5, 400s, 60vh) {
        .layer-#{$index} {
            animation: parallax_fg linear $speed infinite both;
        }
    }

    @keyframes parallax_fg {
        0% {
            background-position: 2765px 100%;
        }

        100% {
            background-position: 550px 100%;
        }
    }
}

/* events */
section.events {
    .event-type {
        margin-right: 10px;
    }

    .event-type-coderdojo {
        background-color: $coderdojo-color;
    }

    .event-type-coderdojo-virtual {
        background-color: $coderdojo-virtual-color;
    }

    .event-type-playground {
        background-color: $coderdojo-playground-color;
    }

    .event-type-classroom {
        background-color: $coderdojo-classroom-color;
    }

    .event .workshop:nth-child(2) h3 {
        margin-block-start: 0;
    }

    h3 {
        font-size: 1.25rem;
        font-weight: 700;

        .time {
            //font-size: 1.2rem;
            margin-right: 1rem;
        }
    }

    .event-time-xs {
        margin: -15px;
        padding: 15px;
        background-color: #ddd;
        margin-block-end: 1rem;
    }
}

/* mentors */
section.mentors {
    h4 {
        margin-block-start: 1rem;
        margin-block-end: 0;
    }

    h5 {
        font-size: 14px;
        margin-block-start: 0.5rem;
    }

    .mentor {
        text-align: center;
    }

    .img-box {
        position: relative;
        width: 100%;
        /* desired width */
        max-width: 200px;
        margin-left: auto;
        margin-right: auto;
    }

    .img-box:before {
        content: "";
        display: block;
        padding-top: 100%;
        /* initial ratio of 1:1*/
    }

    img {
        position: absolute;
        top: 0;
        left: 0;
        bottom: 0;
        right: 0;
        width: 100%;
        height: 100%;
        object-fit: cover;
        border-radius: 50%;
        box-shadow: 2px 2px 15px 7px rgba(0, 0, 0, 0.05);
    }

    // img {
    //     width: 100%;
    //     max-width: 160px;
    //     border-radius: 50%;
    //     margin-top: 20px;
    //     box-shadow: 2px 2px 15px 7px rgba(0, 0, 0, 0.05);
    // }
}

/* Sushis */
iframe[src*="jsfiddle"] {
    border: 1px solid #000 !important;
    height: 400px;
    resize: both;
}