@import 'variables';

body {
    font-family: "Open Sans", "Helvetica Neue", Arial, sans-serif;
    font-size: 16px;
    position: relative;
    padding-bottom: 120px;
    min-height: 100vh;
    font-weight: normal;
    letter-spacing: 0.6px;
}

img {
    max-width: 100%;
}

section {
    padding-top: 80px;
    padding-bottom: 80px;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    margin-top: 0;
    margin-bottom: 0;
    margin-block-start: 3rem;
    margin-block-end: 1rem;
}

h1,
h2 {
    text-align: center;

    &::after {
        display: block;
        width: 50px;
        text-align: center;
        content: '';
        margin: 1rem auto 0 auto;
        margin-block-end: 2rem;
        border-bottom: 3px solid $primary-color;
    }
}

p {
    color: $font-color;
}

p:empty {
    margin-bottom: 0;
}

hr.full {
    border-color: $primary-color;
    border-width: 1px;
    width: 100%;
    margin-block-start: 2rem;
    margin-block-end: 2rem;
}

pre {
    padding: 10px 20px;
}

.btn {
    padding: .375rem 2rem;
}

/* sections */
section {

    h1,
    h2 {
        &:first-of-type {
            margin-block-start: 0;
        }
    }

    &:first-of-type {

        h1,
        h2 {
            &:first-of-type {
                margin-block-start: 1em;
            }
        }
    }
}

section.primary {
    background-color: $primary-color;
    color: #fff;

    h1,
    h2 {
        &::after {
            border-bottom-color: #fff;
        }
    }

    p {
        color: #fff;
    }

    a {
        color: #fff;
        text-decoration: underline;
    }
}

nav.breadcrumb-nav {
    text-transform: uppercase;
    // letter-spacing: 1px;
    font-weight: 300;
    font-size: 15px;
}

/* navigation */
.navbar {
    height: 50px;
    background-color: #fff !important;
    font-weight: bold;
    text-transform: uppercase;
    font-size: 14px;
    font-weight: 700;
    letter-spacing: 1px;
    box-shadow: 0 1px 10px 5px rgba(#000, 0.1);
    //border-bottom: 1px solid rgba(#000, 0.15);

    @media(max-width: 991.98px) {
        .container {
            margin-top: -5px;
        }
    }

    .dropdown-item {
        text-transform: none;
    }

    .nav-item a.nav-link {
        color: #333;
        padding-left: 16px;
        padding-right: 16px;
    }

    .nav-item.active a.nav-link {
        color: $primary-color;
    }

    .navbar-toggler {
        font-size: 14px;
    }

    .navbar-collapse {
        background-color: transparent;
    }

    &.hero-navbar {
        background-color: transparent !important;
        box-shadow: none;
        border-bottom: 1px solid transparent;
        transition: all 0.5s;

        .nav-item a.nav-link {
            color: #fff;
        }
    }

    &.hero-navbar.navbar-scroll {
        background-color: #fff !important;
        box-shadow: 0 1px 10px 5px rgba(#000, 0.1);
        //border-bottom: 1px solid rgba(#000, 0.15);

        .nav-item a.nav-link {
            color: #333;
        }
    }
}

/* footer */
footer {
    text-align: center;
    background: $dark-background;
    padding: 2rem 0;
    position: absolute;
    width: 100%;
    bottom: 0;
    height: 120px;
}

footer p {
    font-weight: 300;
    font-size: 12px;
    color: #fff;
    letter-spacing: 2px;
}

footer p a {
    color: #fff;
}

footer p a:hover {
    color: #fff;
    text-decoration: none;
}

@media print {
    footer {
        display: none;
    }
}

/* breadcrumb */
.breadcrumb-container {
    position: fixed;
    top: 30px;
    background-color: white;
    display: block;
    width: 100%;
    z-index: 100;
}

ol.breadcrumb {
    background-color: transparent;
    padding: 0;
    margin-block-start: 2rem;
    margin-block-end: 1rem;
}

nav.breadcrumb-nav+h1 {
    margin-block-start: 0rem;
}

@media print {
    .breadcrumb-nav {
        display: none;
    }
}

/* hero area */
.hero-area {
    height: 75vh;
    width: 100%;
    position: relative;

    .hero {
        position: absolute;
        top: 0;
        left: 0;
        height: 100%;
        width: 100%;

        background: linear-gradient(rgba(#000000, 0.3),
                rgba(#000000, 0.8)), url(img/hero/hero-2.jpg);
        background-size: cover;
        background-attachment: fixed;
        background-position: center center;

        > .container > .row {
            height: 75vh;
            padding-bottom: 60px;
        }

        h1,
        h2,
        h3 {
            &::after {
                content: '';
                margin: 0;
                margin-block-end: 0;
                border-bottom: none;
            }
        }

        h1 + p {
            font-size: 1.6em;
        }

        .header, p {
            color: #fff;
        }

        .events {
            margin-top: 100px;
            height: calc(75vh - 200px);
            background-color: rgba(#fff, 0.66);
            border-radius: 10px;
        }

        // >div {
        //     position: absolute;
        //     bottom: 0;
        //     width: 100%;
        //     height: 25%;
        //     background-color: #333;


        //     >div {
        //         width: 25vw;
        //         float: left;

        //         position: absolute;
        //         bottom: 0;
        //         left: 0;
        //         width: 100%;
        //         color: #fff;
        //         padding: 20px;

        //         p {
        //             color: #fff;
        //         }
        //     }
        // }
    }

    @media(max-width: 991.98px) {
        h1 {
            font-size: 1.6rem;
        }

       .hero h1 + p {
            font-size: 1rem;
        }
    }
}

/* events */
section.events {
    .event-type {
        margin-right: 10px;
    }

    .event-type-coderdojo {
        background-color: $coderdojo-color;
    }

    .event-type-coderdojo-virtual {
        background-color: $coderdojo-virtual-color;
    }

    .event-type-playground {
        background-color: $coderdojo-playground-color;
    }

    .event-type-classroom {
        background-color: $coderdojo-classroom-color;
    }

    .event .workshop:nth-child(2) h3 {
        margin-block-start: 0;
    }

    h3 {
        font-size: 1.25rem;
        font-weight: 700;

        .time {
            //font-size: 1.2rem;
            margin-right: 1rem;
        }
    }

    .event-time-xs {
        margin: -15px;
        padding: 15px;
        background-color: #ddd;
        margin-block-end: 1rem;
    }
}

/* mentors */
section.mentors {
    h4 {
        margin-block-start: 1rem;
        margin-block-end: 0;
    }

    h5 {
        font-size: 14px;
        margin-block-start: 0.5rem;
    }

    .mentor {
        text-align: center;
    }

    .img-box {
        position: relative;
        width: 100%;
        /* desired width */
        max-width: 200px;
        margin-left: auto;
        margin-right: auto;
    }

    .img-box:before {
        content: "";
        display: block;
        padding-top: 100%;
        /* initial ratio of 1:1*/
    }

    img {
        position: absolute;
        top: 0;
        left: 0;
        bottom: 0;
        right: 0;
        width: 100%;
        height: 100%;
        object-fit: cover;
        border-radius: 50%;
        box-shadow: 2px 2px 15px 7px rgba(0, 0, 0, 0.05);
    }

    // img {
    //     width: 100%;
    //     max-width: 160px;
    //     border-radius: 50%;
    //     margin-top: 20px;
    //     box-shadow: 2px 2px 15px 7px rgba(0, 0, 0, 0.05);
    // }
}

/* Sushi Overview */
.card {
    box-shadow: 0 1px 10px 5px rgba(#000, 0.1);
    border: none;
    transition: transform 0.3s;
    cursor: pointer;

    h5 {
        //font-weight: 600;
        font-size: 1.5rem;
    }

    h6.card-subtitle {
        font-size: 0.9rem;
    }

    .card-title {
        margin-block-start: 0;
    }

    &:hover {
        transform: scale(1.02);
    }

    .card-header {
        border-bottom: none;
        box-sizing: border-box;
    }

    .card-footer {
        border-top: none;
    }
}

/* Sushis */
iframe[src*="jsfiddle"] {
    border: 1px solid #000 !important;
    height: 400px;
    resize: both;
}

#sushi {
    .hero-banner {
        background-color: rgba(0, 0, 0, 0.03);
    }
}

.sushi-content {
    p:first-child {
        margin-block-start: 2em;
    }

    img {
        display: block;
        margin-block-start: 1em;
        margin-block-end: 1em;
    }

    ul,
    ol {
        padding-left: 1em;
    }
}