body {
	font-family: -apple-system, BlinkMacSystemFont, 'Segoe WPC', 'Segoe UI', 'Ubuntu', 'Droid Sans', sans-serif;
	font-size: 1.5em;
}

h1 {
	color:#039be5;
	font-weight: bold;
	text-align: center;
}

h2, h3 {
	color:#039be5;
	font-weight: bold;
}

p {
	text-align: justify;
}

em {
	font-weight: bold;
	font-style: italic;
}

strong {
	font-weight: normal;
	background-color: #039be5;
	color: white;
	border-radius: 5px;
  	padding: 0.05em 0.15em;
}

.scratch_label {
	display: inline-block;
	color: white;
	background-color: red;
	border-radius: 5px;
	padding: 0em 0.5em;
}

.warning {
	background-color: red;
	color: white;
	padding: 0.5em;
	border-radius: 5px;
	margin: 0em 1em;
}

img {
	margin: 1em;
}

li {
	line-height: 200%;
	text-align: justify;
}