<div id='footer'>
  <div class='three spacing'></div>
  <div class='row'>
    <div class='large-3 medium-3 columns'>
      <h4>
        <a href='{{site.baseurl}}/' class="footer-logo">
          <img alt="" src="{{site.url}}/images/coderdojo-logo.jpg" />
          <span>CoderDojo&nbsp;
            <b>Linz</b>
          </span>
        </a>
      </h4>
      <p>© 2018 Coding Club Linz</p>
      <div class='spacing'></div>
      <div class='spacing'></div>
    </div>
    <div class='large-3 medium-3 columns'>
      <div class='links'>
        <h4>Infos</h4>
        <ul>
          <li>
            <a href="{{site.baseurl}}/index.html">Home</a>
          </li>
          <li>
            <a href="{{site.baseurl}}/termine.html">Termine</a>
          </li>
          <li>
            <a href="{{site.baseurl}}/infos/kinder.html">Infos für Kinder</a>
          </li>
          <li>
            <a href="{{site.baseurl}}/infos/eltern.html">Infos für Eltern</a>
          </li>
          <li>
            <a href="{{site.baseurl}}/infos/mentoren.html">Infos für Mentoren</a>
          </li>
        </ul>
      </div>
      <div class='spacing'></div>
    </div>
    <div class='large-3 medium-3 columns'>
      <div class='links'>
        <h4>Übungen</h4>
        <ul>
          <li>
            <a href="{{site.baseurl}}/infos/uebungsbeispiele.html#scratch">Scratch</a>
          </li>
          <li>
            <a href="{{site.baseurl}}/infos/uebungsbeispiele.html#webentwicklung-html-javascript--co">Webentwicklung</a>
          </li>
          <li>
            <a href="{{site.baseurl}}/infos/uebungsbeispiele.html#minecraft">Minecraft</a>
          </li>
          <li>
            <a href="{{site.baseurl}}/infos/uebungsbeispiele.html#bbc-microbit">Micro:Bit</a>
          </li>
        </ul>
      </div>
      <div class='spacing'></div>
    </div>
    <div class='large-3 medium-3 columns'>
      <h4>Kontakt</h4>
      <ul>
        <li>Email:
          <a href="mailto: info@coderdojo-linz.org">info@coderdojo-linz.org</a>
        </li>
      </ul>
      <div class='spacing'></div>
      <ul class='socials'>
        <li>
          <a href='https://www.facebook.com/coderdojolinz' target='_blank'>
            <i class='fa fa-facebook'></i>
          </a>
        </li>
        <li>
          <a href='http://twitter.com/coderdojolinz' target='_blank'>
            <i class='fa fa-twitter'></i>
          </a>
        </li>
      </ul>
      <div class='spacing'></div>
    </div>
  </div>
  <div class='spacing'></div>
</div>
<script src="{{ " /javascripts/jquery.countTo.js " | prepend: site.baseurl }}" type="text/javascript"></script>
<script src="{{ " /javascripts/jquery.appear.js " | prepend: site.baseurl }}" type="text/javascript"></script>
<script src="{{ " /javascripts/jquery.validate.js " | prepend: site.baseurl }}" type="text/javascript"></script>
<script src="{{ " /javascripts/jquery.sequence-min.js " | prepend: site.baseurl }}" type="text/javascript"></script>
<script src="{{ " /javascripts/jquery.easing.1.3.js " | prepend: site.baseurl }}" type="text/javascript"></script>
<script src="{{ " /javascripts/app.js " | prepend: site.baseurl }}" type="text/javascript"></script>