<header class="site-header">
	<div class="navbar navbar-material-lime navbar-default navbar-fixed-top">
		<div class="navbar-header">
			<button class="navbar-toggle" type="button" data-toggle="collapse" data-target=".navbar-responsive-collapse">
				<span class="icon-bar"></span>
				<span class="icon-bar"></span>
				<span class="icon-bar"></span>
			</button>
			<a class="navbar-brand" href="/">CoderDojo <b>Linz</b></a>
		</div>
		<div class="navbar-collapse collapse navbar-responsive-collapse">
			<ul class="nav navbar-nav">
				<li><a href="/">Home</a></li>
				<li><a href="/termine.html">Termine</a></li>
				<li><a href="/kinder.html">F&uuml;r Kinder und Jugendliche</a></li>
				<li><a href="/eltern.html">F&uuml;r Eltern</a></li>
				<li><a href="/mentoren.html">F&uuml;r Mentoren</a></li>
				<li><a href="/kontakt.html">Kontakt</a></li>
			</ul>
		</div>
	</div>
</header>
