:root {
    --highlight-color-1: #2b992b;
    --highlight-color-2: #0081e4;
}

body {
    font-family: 'Open Sans', sans-serif;
    background-color: lightblue;
    font-size: 18px;
    background-image: url('/images/underwater-treasures.jpg');
    background-attachment: fixed;
    background-size: cover;
    height: 100vh;
    overflow: auto;
    padding: 0 60px;
    background-position: center;
}

h2 {
    margin-block-start: 2em;
}

h1 .version {
    font-size: 16px;
    margin-left: 10px;
    background-color: var(--highlight-color-1);
    color: #fff;
    border-radius: 5px;
    padding: 2px 10px;
    /* why? */
    vertical-align: 0.5em;
}

h2 {
    color: #fff;
    background-color: var(--highlight-color-1);
    display: inline-block;
    padding: 2px 10px;
    box-shadow: 8px 8px 0 2px #bbb;
}

img {
    display: block;
    margin-block-start: 1em;
    margin-block-end: 1em;
    max-width: 100%;
}

.content {
    max-width: 900px;
    padding: 60px;
    border-radius: 20px;
    background-color: rgba(255, 255, 255, 0.9);
    margin: 60px auto;
}

/* list items */
ol {
    list-style: none;
    counter-reset: my-counter;
    padding-inline-start: 0;
    --padding-left: 50px;
    --padding-top: 5px;
}

ol>li {
    counter-increment: my-counter;
    padding-left: var(--padding-left);
    padding-top: var(--padding-top);
    margin-block-start: 1em;
    margin-block-end: 1em;
}

ol>li:before {
    --size: 32px;
    width: var(--size);
    height: var(--size);
    line-height: var(--size);
    text-align: center;
    content: counter(my-counter) ".";
    background-color: var(--highlight-color-2);
    color: #fff;
    font-weight: bold;
    font-size: 16px;
    border-radius: 50%;
    position: absolute;
    margin-left: calc(var(--padding-left) * -1);
    margin-top: calc(var(--padding-top) * -1);
}