/* Custom font and content area */

body {
    font-family: 'Open Sans', sans-serif;
    font-size: 18px;
    background-color: lightblue;
    
    padding-left: 60px;
    padding-right: 60px;
}

.content {
    background-color: white;
    padding: 60px;
    max-width: 900px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 60px;
    margin-bottom: 60px;
    border-radius: 20px;
    /* offset-x | offset-y | blur-radius | spread-radius | color */
    box-shadow: 10px 10px 8px 1px rgba(0, 0, 0, 0.3);
}