/* Styles for headers */

body {
    font-family: 'Open Sans', sans-serif;
    font-size: 18px;
    background-color: lightblue;
    
    padding-left: 60px;
    padding-right: 60px;
}

.content {
    background-color: white;
    padding: 60px;
    max-width: 900px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 60px;
    margin-bottom: 60px;
    border-radius: 20px;
    /* offset-x | offset-y | blur-radius | spread-radius | color */
    box-shadow: 10px 10px 8px 1px rgba(0, 0, 0, 0.3);
}

/* ********************************** */
/* headers */
/* ********************************** */
h1 {
    text-transform: uppercase;
    color: #0081e4;
}

h1 .version {
    font-size: 16px;
    margin-left: 10px;
    background-color: #2b992b;
    color: #fff;
    border-radius: 5px;
    padding: 2px 10px;
    /* necessary for vertical alignment within h1 */
    vertical-align: 0.5em;
}

h2 {
    background-color: #2b992b;
    color: #fff;
    display: inline-block;
    margin-block-start: 2em;
    padding: 2px 10px;
    /* offset-x | offset-y | blur-radius | spread-radius | color */
    box-shadow: 8px 8px 0 2px rgba(0, 0, 0, 0.3);
}