body.sushi {
	h2, h3 {
		clear: both;
	}

	ul {
		padding-left: 20px;
	}

	ol {
		padding-left: 20px;

		li {
			clear: both;
			padding-bottom: 10px;
			padding-top: 20px;
			border-top: 1px dotted #666666;
		}

		li:first-of-type {
			padding-top: 0;
			border-top: none;
		}

		li img {
			padding-top: 20px;
			max-width: 100%;
		}

		li img.right {
			width: 50%;
			padding-top: 0;
			padding-left: 20px;
			padding-bottom: 20px;
			float: right;
		}
	}

	.center {
		text-align: center;
	}

	div.plainOrderedList {
		li {
			padding-top: 0;
			padding-bottom: 0;
			border-top: none;
		}
	}

	@media print {
		/*@page {
			margin: 1cm;
		}*/

		body {
			margin: 0;
			padding: 0;
		}

		h1 {
			margin-top: 0;
		}

		.container {
			min-width: 100%;
		}

		.navbar {
			display: none;
		}
	}

	img.full {
		width: 100%;
	}

	@media print {
		.page-break-before {
			page-break-before: always;
		}
	}
}