{{ define "main" }} 

{{ partial "breadcrumb.html" . }} 

<section id="sushi-overview">
    <div class="container-fluid">
        <div class="container">
            <div class="row">
                <div class="col-12">
                    <h1>{{ .Title }}</h1>
                </div>
                <div class="col-12 col-md-6"> {{ if isset .Params "img" }} <img src="{{.RelPermalink}}{{(index .Params.img)}}" alt="{{.Title}}"> {{ end }}
                </div>
                <div class="col-12 col-md-6">
                    <p class="mb-4">{{ .Description }}</p>
                    <table class="table">
                        <tr>
                            <td><i class="fas fa-dragon"></i>Figuren</td>
                            <td>{{ .Params.sprites }}</td>
                        </tr>
                        <tr>
                            <td><i class="fas fa-code"></i>Skripte</td>
                            <td>{{ .Params.scripts }}</td>
                        </tr>
                        <tr>
                            <td><i class="fas fa-clipboard-list"></i>Variablen</td>
                            <td>{{ .Params.data }}</td>
                        </tr>
                    </table>
                </div>
            </div>
        </div>
    </div>
</section>

<section id="sushi">
    <div class="container">
        <div class="row">
            <div class="col-12 sushi-content"> {{ .Content }} </div>
        </div>
    </div>
</section> {{ end }}
