{{"<!-- Contact Section -->" | safeHTML}} <section id="about">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <h2>Lerne programmieren im CoderDojo Linz</h2>
            </div>
        </div>
        <div class="row">
            <div class="col-12 col-md-4">
                <p class="about-icon"><i class="fas fa-info"></i></p>
                <p>Das CoderDojo ist ein Club für Kinder und Jugendliche, die programmieren lernen und Spaß haben wollen.</p>
                <p>In regelmäßigen Treffen wird gelernt wie man Code schreibt, Webseiten entwickelt oder Apps und Spiele programmiert.</p>
            </div>
            <div class="col-12 col-md-4">
                <p class="about-icon"><i class="fas fa-child"></i></p>
                <p>Teilnehmen können Kinder und Jugendliche im Alter von 8 bis 17 Jahren. Es sind keine Vorkenntnisse notwendig und die Teilnahme ist
                    kostenfrei.</p>
                <p>Kinder unter 13 Jahren müssen von einem Erwachsenen begleitet werden.</p>
            </div>
            <div class="col-12 col-md-4">
                <p class="about-icon"><i class="far fa-calendar-alt"></i></p>
                <p>Wir treffen uns jeden zweiten Freitag von 16:00 bis 18:00.</p>
                <p>Für den ersten Besuch ist eine Anmeldung notwendig. Zu allen weiteren Terminen kannst du dann ohne Anmeldung kommen, wann immer du Zeit und
                    Lust hast.</p>
            </div>

            <div class="col-12 mt-4">
                <p class="text-center"><a class="btn btn-primary" href="/info">Infos im Detail</a></p>
            </div>
        </div>
    </div>
</section>
