{{"<!-- CoderDojos Austria Section -->" | safeHTML}} <section id="coderdojos-austria" class="secondary">
    <div class="container">
        <div class="row">
            <div class="col-12 mb-3">
                <h2>CoderDojos in Österreich</h2>
                <p class="text-center">In Österreich gibt es mittlerweile 4 CoderDojos:</p>
            </div>
        </div>
        <div class="row row-cols-1 row-cols-md-2 row-cols-lg-3">
            <div class="col mb-4">
                <div class="card h-100" onclick="window.open('https://neusiedl.coderdojo.net/')">
                    <div class="card-body"><a href="https://neusiedl.coderdojo.net/" target="_blank"><img src="img/logo.png">Neusiedl am See</a></div>
                    <div class="card-footer">Burgenland</div>
                </div>
            </div>
            <div class="col mb-4">
                <div class="card h-100" onclick="window.open('/')">
                    <div class="card-body"><a href="/" target="_blank"><img src="img/logo-linz.png"></a></div>
                    <div class="card-footer">Oberösterreich</div>
                </div>
            </div>
            <div class="col mb-4">
                <div class="card h-100" onclick="window.open('https://tic-steyr.at/coderdojo-steyr')">
                    <div class="card-body"><a href="https://tic-steyr.at/coderdojo-steyr" target="_blank"><img src="img/logo.png">Steyr</a></div>
                    <div class="card-footer">Oberösterreich</div>
                </div>
            </div>
            <div class="col mb-4">
                <!-- <div class="card h-100" onclick="window.open('https://www.coderdojograz.com/')">
                    <div class="card-body"><a href="https://www.coderdojograz.com/" target="_blank"><img src="img/logo-graz.png">Graz</a></div>
                    <div class="card-footer">Steiermark</div>
                </div> -->
            </div>
            <div class="col mb-4">
                <div class="card h-100" onclick="window.open('https://wien.coderdojo.net/')">
                    <div class="card-body"><a href="https://wien.coderdojo.net/" target="_blank"><img src="img/logo-wien.png"></a></div>
                    <div class="card-footer">Wien</div>
                </div>
            </div>
        </div>
    </div>
</section>
