{{"<!-- CoderDojos International Section -->" | safeHTML}} <section id="coderdojo-international">
    <div class="container">
        <div class="row">
            <div class="col-12 mb-3">
                <h2>CoderDojo International</h2>
            </div>
            <div class="col-12">
                <p>Die <a href="https://coderdojo.com/" target="_blank">CoderDojo Foundation</a> wurde 2013 in Irland gegründet und ist seitdem rasant
                    gewachsen. Seit 2017 <a href="https://coderdojo.com/2017/05/26/coderdojo-and-raspberry-pi-join-forces/" target="_blank">kooperiert sie mit
                        der Raspery Pi Foundation</a>. </p>
                <p>Freiwillige auf der ganzen Welt veranstalten regemäßig Programmier-Events für Kinder und Jugendliche. Mittlerweile gibt es mehr als 2000
                    CoderDojos in mehr als 100 Ländern. Die verschiedenen Dojos werden von vielen engagierten Personen ehrenamtlich organisiert und
                    durchgeführt. Jedes Dojo ist eigenständig und unabhängig.</p>
                <p class="text-center">
                    <a href="https://zen.coderdojo.com/find" target="_blank"><img src="/img/coderdojos-international.png" /></a>
                </p>
            </div>
            <div class="col-12 mt-4">
                <p class="text-center"><a class="btn btn-primary" href="https://coderdojo.com/" target="_blank">Zur CoderDojo Foundation</a></p>
            </div>
        </div>
    </div>
</section>
