{{"<!-- Contact Section -->" | safeHTML}}
<section id="contact" class="primary">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <h2>Kontakt</h2>
                <p class="text-center">Hast du Fragen oder Anregungen?</p>
            </div>
            <div class="col-xs-12 col-sm-12 col-md-6 offset-md-3">
                <div class="form-group">
                    <form action="#" method="POST">
                        <div class="input-field">
                            <input type="text" class="form-control" placeholder="Name" name="name">
                        </div>
                        <div class="input-field">
                            <input type="email" class="form-control" placeholder="Emailadresse" name="email">
                        </div>
                        <div class="input-field">
                            <textarea class="form-control" placeholder="Nachricht" rows="3" name="message"></textarea>
                        </div>
                        <button type="submit" class="btn btn-light">Nachricht senden</button>
                    </form>

                    <div id="success">
                        <p>{{ i18n "contactMessageSuccess" }}</p>
                    </div>
                    <div id="error">
                        <p>{{ i18n "contactMessageError" }}</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
