{{"<!-- Contact Section -->" | safeHTML}} <section id="events-overview" class="dark">
    <div class="container">
        <div class="row">
            <div class="col-12">
            </div>
            <div class="col-xs-12 col-sm-12 col-lg-8 offset-lg-2">
                <h2>Nächste Termine</h2>
                <p class="text-center">Hast du Lust bekommen, beim CoderDojo mitzumachen? Hier findest du die nächsten Termine.</p>
                
                <p class="loadingText">Die Termine werden geladen ...</p>

                <table class="table" id="eventsOverviewTable">
                </table>
            </div>

            <div class="col-12 mt-4">
                <p class="text-center"><a class="btn btn-primary" href="/termine">Details zu den Terminen</a></p>
            </div>
        </div>
    </div>
</section>
