{{"<!-- Contact Section -->" | safeHTML}} <section id="fireworks" class="dark">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <h2>Silvester-Special Workshops</h2>
                <p>Ein echtes Silvester-Feuerwerk ist zwar eine schöne Sache, belastet die Umwelt allerdings auch
                    ziemlich. Daher haben wir uns mit dem Innovationshauptplatz der Stadt Linz zusammengetan und werden
                    euch in den nächsten Wochen in verschiedenen Workshops zeigen, wie man digitale Feuerwerke durch
                    Coding zünden kann.</p>
                <p>Sofern es Covid zulässt plant der Innovationshauptplatz Linz Anfang 2022 eine Abschlussveranstaltung
                    im Ars Electronica Center. Sende uns dein "Digitales Feuerwerk" (Videodatei) bis 31.12 an
                    <a href="mailto:innovation@mag.linz.at">innovation@mag.linz.at</a> und sei kostenlos dabei.
                </p>
                <p>&nbsp;</p>
                <p class="text-center"><a class="btn btn-primary"
                        href="https://innovationshauptplatz.linz.at/de-DE/projects/digital-new-years-fireworks"
                        target="_blank">Mehr Infos</a></p>
            </div>

        </div>

        <!-- <div id="fireworks-header"></div>     -->
    </div>

</section>