{{"<!-- Hero Area Section -->" | safeHTML}}
<section id="home" class="hero-area">
    <div class="hero">
        <div class="parallax-layer layer-1"></div>
        <div class="parallax-layer layer-2"></div>
        <div class="parallax-layer layer-3"></div>
        <div class="parallax-layer layer-4"></div>
        <div class="parallax-layer layer-5"></div>
    </div>

    <!-- <div class="container">
        <div class="row justify-content-center">
            <div class="col-lg-7 col-md-6">
                <div class="block hero-area-text wow fadeInDown">
                    <h1>CoderDojo Linz</h1>
                    <p class="text-center">
                        Möchtest du nicht nur Computerspiele spielen, sondern richtig programmieren lernen? Dann bist du richtig beim CoderDojo!
                    </p>
                    <p class="wow fadeInUp text-center" data-wow-delay="0.7s" data-wow-duration="1s">
                        <a class="btn btn-success get-started" href="#about" role="button">
                            Mehr Infos
                        </a>
                    </p>
                </div>
            </div>
        </div>
    </div> -->
    <!-- .container close -->

    <div class="description">
        <h1 class="wow fadeInDown">Lerne programmieren im CoderDojo Linz</h1>
        <h2>für alle von 7 - 17</h2>
    </div>
</section>