{{"<!-- Hero Area Section -->" | safeHTML}} <section id="home" class="hero-area-home">
    <div id="heroCarousel" class="carousel slide" data-ride="carousel">
        <ol class="carousel-indicators">
            <li data-target="#heroCarousel" data-slide-to="0" class="active"></li>
            <li data-target="#heroCarousel" data-slide-to="1"></li>
            <li data-target="#heroCarousel" data-slide-to="2"></li>
            <li data-target="#heroCarousel" data-slide-to="3"></li>
        </ol>
        <div class="carousel-inner">
            <div class="carousel-item active">
                <div class="carousel-caption d-none d-md-block">
                    <div>
                        <h5>Zu Gast auf der Uni Linz</h5>
                        <p>In den Ferien durften wir das CoderDojo im Science Park der Uni Linz abhalten.</p>
                    </div>
                </div>
            </div>
            <div class="carousel-item">
                <div class="carousel-caption d-none d-md-block">
                    <div>
                        <h5>Löten & Elektronik</h5>
                        <p>In der Werkstatt des Wissensturms wird gelötet.</p>
                    </div>
                </div>
            </div>
            <div class="carousel-item">
                <div class="carousel-caption d-none d-md-block">
                    <div>
                        <h5>Robotik-Workshop</h5>
                        <p>Die HTL Leonding war zu Gast mit ihren programmierbaren Robotern.</p>
                    </div>
                </div>
            </div>
            <div class="carousel-item">
                <div class="carousel-caption d-none d-md-block">
                    <div>
                        <h5>Ars Electronica Festival</h5>
                        <p>Beim Ars Electronica Festival wird am CoderDojo Stand im U19 Bereich programmiert und gelötet.</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
