{{"<!-- Hero Area Section -->" | safeHTML}} <section id="home" class="hero-area">
    <div class="hero">
        <div class="container-fluid">
            <div class="row align-items-end">
                <div class="col hero-description">
                    <div class="container">
                        <div class="row">
                            <div class="col-12 col-md-8 offset-md-2 text-center">
                                <div class="header">
                                    <p>Möchtest du Computerspiele nicht nur spielen sondern selbst programmieren? Oder möchtest du deine eigene Webseite
                                        bauen?<br />Dann bist du richtig beim CoderDojo!</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
