{{"<!-- Contact Section -->" | safeHTML}} <section id="linz-codes" class="dark">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <p>Vor eineinhalb Jahren wechselten wir mit dem CoderDojo Linz Corona-bedingt in die virtuelle Welt. Jetzt ist es soweit, wir kehren zurück aus der virtuellen Welt! Diesen Sommer sehen wir uns wieder persönlich beim Programmieren am Freiplatz unter dem Lentos Kunstmuseum.</p>
                <p>&nbsp;</p>
                <p class="text-center"><a class="btn btn-primary" href="/linz-codes">Zum Programm</a></p>
            </div>
            
        </div>
        
        <div id="linz-codes-header"></div>    
    </div>
    
</section>
