{{ "<!-- NAVIGATION -->" | safeHTML }}

<nav class="navbar fixed-top navbar-expand-lg navbar-light bg-light {{ with .Page.File }} {{ cond (eq .Path "_index.md") "hero-navbar" "" }} {{ end}}">
    <div class="container-fluid">
        <a class="navbar-brand" href="/"><img src="/img/logo-linz.png" height="30"></a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav ml-auto">
                <li class="nav-item {{ with .Page.File }} {{ cond (eq .Path "_index.md") "active" "" }} {{ end }}">
                    <a class="nav-link" href="/">Home</a>
                </li>
                <li class="nav-item {{ with .File }} {{ cond (eq .Dir "termine\\") "active" "" }} {{ end }}">
                    <a class="nav-link" href="/termine">Termine</a>
                </li>
                <li class="nav-item {{ with .Page.File }} {{ cond (eq .Dir "info\\") "active" "" }} {{ end }}">
                    <a class="nav-link" href="/info">Infos</a>
                </li>
                <li class="nav-item {{ with .Page.File }} {{ cond (eq .Dir "mentoren\\") "active" "" }} {{ end }}">
                    <a class="nav-link" href="/mentoren">Mentoren</a>
                </li>
                <li class="nav-item {{ with .Page.File }} {{ cond (eq .Path "sponsoring.md") "active" "" }} {{ end }}">
                    <a class="nav-link" href="/sponsoring">Sponsoring</a>
                </li>
                <li class="nav-item {{ with .Page.File }} {{ cond (hasPrefix .Path "uebungsanleitungen") "active" "" }} {{ end }}">
                    <a class="nav-link" href="/uebungsanleitungen">Übungsanleitungen</a>
                </li>
            </ul>
        </div>
    </div>
</nav>