{{ if .Site.Params.contact.enable }}
{{"<!-- Contact Section -->" | safeHTML}}
<section id="newsletter">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <h2>Newsletter abonnieren</h2>
                <p class="text-center">Im Newsletter informieren wir euch über alle neuen CoderDojo Veranstaltungen.</p>
            </div>
            <div class="col-xs-12 col-sm-12 col-md-6 offset-md-3">
                <div class="form-group">
                    <form action="#" method="POST">
                        <div class="input-field">
                            <input type="email" class="form-control" placeholder="Emailadresse" name="email">
                        </div>
                        <button type="submit" class="btn btn-primary">Newsletter abonnieren</button>
                    </form>

                    <div id="success">
                        <p>{{ i18n "contactMessageSuccess" }}</p>
                    </div>
                    <div id="error">
                        <p>{{ i18n "contactMessageError" }}</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
{{ end }}