/* Intro area with text changes and image effect */

body {
    font-family: 'Open Sans', sans-serif;
    font-size: 18px;
    background-color: lightblue;
    
    padding-left: 60px;
    padding-right: 60px;
}

.content {
    background-color: white;
    padding: 60px;
    max-width: 900px;
    /* center content area */
    margin-left: auto;
    margin-right: auto;
    margin-top: 60px;
    margin-bottom: 60px;
    border-radius: 20px;
    box-shadow: 10px 10px 8px 1px rgba(0, 0, 0, 0.3);
}

/* ********************************** */
/* headers */
/* ********************************** */
h1 {
    text-transform: uppercase;
    color: #0081e4;
}

h1 .version {
    font-size: 16px;
    margin-left: 10px;
    background-color: #2b992b;
    color: #fff;
    border-radius: 5px;
    padding: 2px 10px;
    /* necessary for vertical alignment within h1 */
    vertical-align: 0.5em;
}

h2 {
    background-color: #2b992b;
    color: #fff;
    display: inline-block;
    margin-block-start: 2em;
    padding: 2px 10px;
    box-shadow: 8px 8px 0 2px rgba(0, 0, 0, 0.3);
}

/* ********************************** */
/* images */
/* ********************************** */
img {
    display: block;
    margin-block-start: 1em;
    margin-block-end: 1em;
    max-width: 100%;
    background-color: white;
    padding: 20px;
    border: 1px solid rgba(0, 0, 0, 0.3);
    /* center images */
    margin-left: auto;
    margin-right: auto;
    /* animation */
    transition: all 0.5s;
}

img:hover {
    /* changes when mouse moves over image */
    transform: scale(1.01);
    /* offset-x | offset-y | blur-radius | spread-radius | color */
    box-shadow: 10px 10px 8px 2px rgba(0, 0, 0, 0.3);
}

/* ********************************** */
/* intro */
/* ********************************** */
.intro p {
    font-size: 24px;
    font-weight: 300;
    text-align: center;
}

.intro>img {
    transform: rotateY(0deg);
    transition: transform 1s;
}

.intro>img:hover {
    transform: rotateY(180deg);
    box-shadow: none;
}