:root {
    --highlight-color-1: #2b992b;
    --highlight-color-2: #0081e4;
    --border-radius: 20px;
    --font-size: 18px;
}

body {
    font-family: 'Open Sans', sans-serif;
    font-size: var(--font-size);
    background-color: lightblue;
    padding-left: 60px;
    padding-right: 60px;
    background-image: url('/images/underwater-treasures.jpg');
    background-attachment: fixed;
    background-size: cover;
    background-position: center;
}

/* ********************************** */
/* headers */
/* ********************************** */
h1 {
    text-transform: uppercase;
    color: var(--highlight-color-2);
}

h1 .version {
    font-size: calc(var(--font-size) - 2px);
    margin-left: 10px;
    background-color: var(--highlight-color-1);
    color: #fff;
    border-radius: 5px;
    padding: 2px 10px;
    /* why? */
    vertical-align: 0.5em;
}

h2 {
    margin-block-start: 2em;
    color: #fff;
    background-color: var(--highlight-color-1);
    display: inline-block;
    padding: 2px 10px;
    box-shadow: 8px 8px 0 2px rgba(0, 0, 0, 0.3);
}

/* ********************************** */
/* images */
/* ********************************** */
img {
    display: block;
    margin-block-start: 1em;
    margin-block-end: 1em;
    max-width: 100%;
    border: 1px solid rgba(0, 0, 0, 0.3);
    margin-left: auto;
    margin-right: auto;
    padding: 20px;
    background-color: #fff;
    transform: scale(1.0);
    transition: all 0.5s;
}

img:hover {
    transform: scale(1.01);
    box-shadow: 10px 10px 8px 1px rgba(0, 0, 0, 0.3);
}

/* ********************************** */
/* content */
/* ********************************** */
.content {
    max-width: 900px;
    padding: 60px;
    border-radius: var(--border-radius);
    background-color: rgba(255, 255, 255, 0.9);
    margin: 60px auto;
    box-shadow: 10px 10px 8px 1px rgba(0, 0, 0, 0.3);
}

/* ********************************** */
/* intro */
/* ********************************** */
.intro p {
    font-size: 24px;
    font-weight: 300;
    text-align: center;
}

.intro>img {
    transition: transform 1s;
}

.intro>img:hover {
    transform: rotateY(180deg);
    box-shadow: none;
}

/* ********************************** */
/* flip box */
/* ********************************** */
.flip-box {
    box-sizing: border-box;
    display: block;
    background-color: transparent;
    width: 540px;
    height: 407px;
    max-width: 100%;
    margin-left: auto;
    margin-right: auto;
    /* Remove this if you don't want the 3D effect */
    perspective: 1000px;
}

/* This container is needed to position the front and back side */
.flip-box-inner {
    position: relative;
    width: 100%;
    height: 100%;
    text-align: center;
    transition: transform 0.8s;
    transform-style: preserve-3d;
}

.flip-box-inner h3 {
    margin-block-start: 4em;
    font-size: 2rem;
}

.flip-box img {
    border: none;
    padding: 0;
    margin: 0;
    box-shadow: none;
    border-radius: var(--border-radius);
}

/* Do an horizontal flip when you move the mouse over the flip box container */
.flip-box:hover .flip-box-inner {
    transform: rotateY(180deg);
}

/* Position the front and back side */
.flip-box-front,
.flip-box-back {
    position: absolute;
    width: 100%;
    height: 100%;
    -webkit-backface-visibility: hidden;
    /* Safari */
    backface-visibility: hidden;
    border-radius: var(--border-radius);
}

/* Style the front side (fallback if image is missing) */
.flip-box-front {
    background-color: #bbb;
    color: black;
}

/* Style the back side */
.flip-box-back {
    background-color: var(--highlight-color-2);
    color: #fff;
    transform: rotateY(180deg);
    border-radius: var(--border-radius);
}

/* ********************************** */
/* list items */
/* ********************************** */
ol {
    list-style: none;
    counter-reset: my-counter;
    padding-inline-start: 0;
    --padding-left: 50px;
    --padding-top: 5px;
}

ol>li {
    counter-increment: my-counter;
    padding-left: var(--padding-left);
    padding-top: var(--padding-top);
    margin-block-start: 1em;
    margin-block-end: 1em;
}

ol>li:before {
    --size: 32px;
    width: var(--size);
    height: var(--size);
    line-height: var(--size);
    text-align: center;
    content: counter(my-counter) ".";
    background-color: var(--highlight-color-2);
    color: #fff;
    font-weight: bold;
    font-size: calc(var(--font-size) - 2px);
    border-radius: 50%;
    position: absolute;
    margin-left: calc(var(--padding-left) * -1);
    margin-top: calc(var(--padding-top) * -1);
}