body {
    font-family: 'Open Sans', sans-serif;
    font-size: 18px;
    background-color: lightblue;
    padding-left: 60px;
    padding-right: 60px;
    /* background image */
    background-image: url('/images/underwater-treasures.jpg');
    background-attachment: fixed;
    background-size: cover;
    background-position: center;
}

.content {
    background-color: rgba(255, 255, 255, 0.9);
    padding: 60px;
    max-width: 900px;
    /* center content area */
    margin-left: auto;
    margin-right: auto;
    margin-top: 60px;
    margin-bottom: 60px;
    border-radius: 20px;
    box-shadow: 10px 10px 8px 1px rgba(0, 0, 0, 0.3);
}

/* ********************************** */
/* headers */
/* ********************************** */
h1 {
    text-transform: uppercase;
    color: #0081e4;
}

h1 .version {
    font-size: 16px;
    margin-left: 10px;
    background-color: #2b992b;
    color: #fff;
    border-radius: 5px;
    padding: 2px 10px;
    /* necessary for vertical alignment within h1 */
    vertical-align: 0.5em;
}

h2 {
    background-color: #2b992b;
    color: #fff;
    display: inline-block;
    margin-block-start: 2em;
    padding: 2px 10px;
    box-shadow: 8px 8px 0 2px rgba(0, 0, 0, 0.3);
}

/* ********************************** */
/* images */
/* ********************************** */
img {
    display: block;
    margin-block-start: 1em;
    margin-block-end: 1em;
    max-width: 100%;
    background-color: white;
    padding: 20px;
    border: 1px solid rgba(0, 0, 0, 0.3);
    /* center images */
    margin-left: auto;
    margin-right: auto;
    /* animation */
    transition: all 0.5s;
}

img:hover {
    /* changes when mouse moves over image */
    transform: scale(1.01);
    /* offset-x | offset-y | blur-radius | spread-radius | color */
    box-shadow: 10px 10px 8px 2px rgba(0, 0, 0, 0.3);
}

/* ********************************** */
/* intro */
/* ********************************** */
.intro p {
    font-size: 24px;
    font-weight: 300;
    text-align: center;
}

.intro>img {
    transition: transform 1s;
}

.intro>img:hover {
    transform: rotateY(180deg);
    box-shadow: none;
}

/* ********************************** */
/* list items */
/* ********************************** */
ol {
    list-style: none;
    counter-reset: my-counter;
    padding-inline-start: 0;
}

ol>li {
    counter-increment: my-counter;
    padding-left: 50px;
    padding-top: 5px;
    margin-block-start: 1em;
    margin-block-end: 1em;
}

ol>li:before {
    width: 32px;
    height: 32px;
    line-height: 32px;
    text-align: center;
    content: counter(my-counter) ".";
    background-color: #2b992b;
    color: #fff;
    font-weight: bold;
    font-size: 16px;
    border-radius: 50%;
    position: absolute;
    margin-left: -50px;
    margin-top: -5px;
}

/* ********************************** */
/* flip box */
/* ********************************** */
.flip-box {
    width: 540px;
    height: 407px;
    max-width: 100%;
    /* center flip box */
    margin-left: auto;
    margin-right: auto;
    /* Remove this if you don't want the 3D effect */
    perspective: 1000px;
}

/* Remove general img styles */
.flip-box img {
    border: none;
    padding: 0;
    margin: 0;
    box-shadow: none;
    border-radius: 20px;
}

/* This container is needed to position the front and back side */
.flip-box-inner {
    position: relative;
    width: 100%;
    height: 100%;
    transition: transform 0.5s;
    transform-style: preserve-3d;
}

/* Do an horizontal flip when you move the mouse over the flip box container */
.flip-box:hover .flip-box-inner {
    transform: rotateY(180deg);
}

/* Position the front and back side */
.flip-box-front,
.flip-box-back {
    position: absolute;
    width: 100%;
    height: 100%;
    border-radius: 20px;
}

/* Style the front side (fallback if image is missing) */
.flip-box-front {
    background-color: #bbb;
    color: black;
}

/* Style the back side */
.flip-box-back {
    background-color: #0081e4;
    color: #fff;
    border-radius: 20px;
    text-align: center;
    transform: rotateY(180deg);
}

.flip-box-back h3 {
    margin-block-start: 4em;
    font-size: 2rem;
}