<!DOCTYPE html>
<html>

{% include head.html %}

<body>

  {% include header.html %}

  <div id='main' role='main'>
    <div class='full parallax' style='background-image: url({{site.baseurl}}/{{page.banner}}); color: #fff;'>
      <div class='row'>
        <div class='twelve columns'>
          {% include section-header.html title=page.banner-title color="#fff" tagline=page.banner-subtitle class="big" %}
        </div>
      </div>
      <div class='four spacing'></div>
    </div>

    {{ content }}
  </div>

  {% include footer.html %}

</body>

</html>