--- 
layout: default 
--- 

<div class="full">
	<div class="row">
		<div class="columns">
			<h2>St&auml;ndige Mentorinnen und Mentoren</h2>
		
			{% for page in site.pages %} {% if page.page-category == "mentor" and page.active == true %}
				<div class="clearfix">
					<img src="{{ page.image }}" class="mentor-image pull-left" />
					<div class="mentor-content">
						<a class="mentor-anchor" name="{{ page.title }}"></a>
						<h3>{{ page.title }}</h3>
						{{ page.content }}
					</div>
				</div>
			{% endif %} {% endfor %}
		</div>
	</div>
</div>

<div class="full">
	<div class="row">
		<div class="columns">
			<h2>Gastmentorinnen und -mentoren</h2>
		
			{% for page in site.pages %} {% if page.page-category == "guest-mentor" %}
				<div class="clearfix">
					<img src="{{ page.image }}" class="mentor-image pull-left" />
					<div class="mentor-content">
						<h3><a name="{{ page.title }}">{{ page.title }}</a></h3>
						{{ page.content }}
					</div>
				</div>

			{% endif %} {% endfor %}
		</div>
	</div>
</div>

<div class="full">
	<div class="row">
		<div class="columns">
			{{ content }}
		</div>
	</div>
</div>

<div class="spacing"></div>