---
layout: default
---

<h1>Unsere Mentorinnen und Mentoren</h1>

<h2>St&auml;ndige Mentorinnen und Mentoren</h2>
{% for page in site.pages %}
	{% if page.page-category == "mentor" %}
<div class="clearfix">
	<img src="{{ page.image }}" class="mentor-image pull-left" />
	<h3><a name="{{ page.title }}">{{ page.title }}</a></h3>
	{{ page.content }}
</div>
	{% endif %}
{% endfor %}

<h2>Gastmentorinnen und -mentoren</h2>
{% for page in site.pages %}
	{% if page.page-category == "guest-mentor" %}
<div class="clearfix">
	<img src="{{ page.image }}" class="mentor-image pull-left" />
	<h3><a name="{{ page.title }}">{{ page.title }}</a></h3>
	{{ page.content }}
</div>
	{% endif %}
{% endfor %}

<!--<div class="row">
	<div class="col-md-2 col-xs-4  mentor-image-container">
		<img src="{{ page.image }}" class="mentor-image" />
	</div>
	<div class="col-md-10 col-xs-8">
		<h3>{{ page.title }}</h3>
		{{ page.content }}
	</div>
</div>-->

{{ content }}