<!DOCTYPE html>
<html>
<head>
	{% include head.html %}
	<link rel="stylesheet" href="/styles/sushi.css" />
</head>
<body class="sushi">
	{% include header.html %}

	{% if page.bannerimage %}
	<div class="container-full-width container-banner-image">
		<img src="{{ page.bannerimage }}" />
		{% if page.bannerimagetext %}
		<div class="banner-image-content">
			{{ page.bannerimagetext }}
		</div>
		{% endif %}
	</div>
	{% endif %}

	<div class="container">
		<div class="row">
			<div class="col-md-12">
				{{ content }}
			</div>
		</div>
		{% include footer.html %}
	</div>
</body>
</html>
