{{ define "main" }}

<section id="exercises" class="exercises">
    {{ partial "breadcrumb.html" . }}
    
    <div class="container">
        <div class="row">
            <div class="col">
                <h1>{{ .Title }}</h1>
            </div>
        </div>
        <div class="row row-cols-1 row-cols-md-2 row-cols-lg-3">
            {{ range (((.Pages.ByParam "Title").ByWeight).ByParam "Level") }}
            <div class="col mb-5">
                {{ $link := .Permalink}}
                {{ $linkText := "Zur Anleitung" }}
                {{ $objectFit := "cover" }}
                {{ $objectPosition := "center center" }}
                {{ $padding := "0" }}

                {{ if gt (len .Pages) 1}}
                    {{ $link := (index .Pages 0).Permalink}}
                {{ else if gt (len .Pages) 1}}
                    {{ $link = .Permalink }}
                    {{ $linkText = "Zu den Anleitungen" }}
                {{ end }}

                {{ if isset .Params "imgcover" }}
                    {{ if eq .Params.imgcover false }}
                        {{ $objectFit = "contain" }}
                        {{ $padding = "12px 20px" }}
                    {{ end }}
                {{ end }}

                {{ if isset .Params "imgposition" }}
                    {{ $objectPosition = .Params.imgposition }}
                {{ end }}

                <div class="card h-100" onclick="location.href='{{ $link }}'">
                    {{ if isset .Params "img" }}
                    <div class="card-header" style="padding: {{ $padding }}; height: 200px;">{{ if isset .Params "img" }}
                        <img src="{{.RelPermalink}}{{(index .Params.img)}}" class="card-img-top mx-auto" alt="{{.Title}}" style="object-fit: {{$objectFit}}; object-position: {{$objectPosition}}; height: 100%;">{{ end }}
                    </div>
                    {{ end }}
                    
                    <div class="card-body">
                        <span class="badge badge-pill {{ cond (eq .Params.Level 0) "badge-info" (cond (eq .Params.Level 1) "badge-primary" (cond (eq .Params.Level 2) "badge-success" (cond (eq .Params.Level 3) "badge-danger" ""))) }}" style="float: right;">
                            {{ if lt .Params.Level 4 }}Level {{ .Params.Level }}{{ end }}
                        </span>
                        <h5 class="card-title">{{.Title}}</h5>
                        <!-- <h6 class="card-subtitle mb-2 text-muted">{{.Description}}</h6> -->
                        <p class="card-text mt-4">{{.Description}}</p>
                    </div>
                    <div class="card-footer scratch-card-footer">
                        <!-- <a href="{{ $link }}" class="card-link">{{ $linkText }}</a> -->
                        {{ if isset .Params "sprites" }}
                        <span title="Figuren"><i class="fas fa-dragon"></i> {{ .Params.Sprites }}</span>
                        {{ end }}
                        {{ if isset .Params "scripts" }}
                        <span title="Skripte"><i class="fas fa-code"></i> {{ .Params.Scripts }}</span>
                        {{ end }}
                        {{ if isset .Params "data" }}
                        <span title="Variablen"><i class="fas fa-clipboard-list"></i> {{ .Params.Data }}</span>
                        {{ end }}
                    </div>
                </div>
            </div>
            {{ end }}
        </div>
    </div>
</section>

{{ end }}