{{ define "main" }}

<section id="exercises" class="exercises">
    {{ partial "breadcrumb.html" . }}
    
    <div class="container">
        <div class="row">
            <div class="col">
                <h1>{{ .Title }}</h1>
            </div>
        </div>
        <div class="row row-cols-1 row-cols-md-2 row-cols-lg-3">
            {{ range ((.Pages.ByParam "Title").ByWeight).ByParam "Level" }}

            {{ $link := (index .Pages 0).Permalink}}
            {{ $linkText := "Zur Anleitung" }}
            {{ $objectFit := "contain" }}
            {{ $objectPosition := "center center" }}
            {{ $padding := "0" }}

            {{ if gt (len .Pages) 1}}
                {{ $link = .Permalink }}
                {{ $linkText = "Zu den Anleitungen" }}
            {{ end }}

            {{ if isset .Params "imgcover" }}
                {{ if eq .Params.imgcover false }}
                    {{ $objectFit = "contain" }}
                    {{ $padding = "10px 40px" }}
                {{ else }}
                    {{ $objectFit = "cover" }}
                    {{ $padding = "0" }}
                {{ end }}
            {{ else }}
                {{ $objectFit = "contain" }}
                {{ $padding = "20px 40px" }}
            {{ end }}

            {{ if isset .Params "imgposition" }}
                {{ $objectPosition = .Params.imgposition }}
            {{ end }}
            
            <div class="col mb-5">
                {{ if isset .Params "file" }}
                {{ if hasPrefix .Params.File "http" }}
                {{ $link = .Params.File }}
                {{ else }}
                {{ $link = print .Permalink .Params.File }}
                {{ end }}
                <div class="card h-100" onclick="window.open('{{$link}}')">
                {{ else }}
                <div class="card h-100" onclick="location.href='{{$link}}'">
                {{ end}}
                    {{ if isset .Params "img" }}
                    <div class="card-header" style="padding: {{ $padding }}; height: 130px">{{ if isset .Params "img" }}
                        <img src="/img{{.RelPermalink}}../{{(index .Params.img)}}" class="card-img-top mx-auto" alt="{{.Title}}" style="object-fit: {{$objectFit}}; object-position: {{$objectPosition}}; height: 100%;">{{ end }}
                    </div>
                    {{ end }}

                    <div class="card-body">
                        {{ if isset .Params "level" }}
                        <span class="badge badge-pill {{ cond (eq .Params.Level 0) "badge-info" (cond (eq .Params.Level 1) "badge-primary" (cond (eq .Params.Level 2) "badge-success" "badge-danger")) }}" style="float: right; margin-left: 10px;">
                            {{ cond (eq .Params.Level 0) "ab 5" (cond (eq .Params.Level 1) "ab 8" (cond (eq .Params.Level 2) (print "ab " (cond (isset .Params "age") .Params.Age "11")) (print "ab " (cond (isset .Params "age") .Params.Age "14")))) }}
                        </span>
                        {{ end }}
                        <h5 class="card-title">{{.Title}}</h5>
                        <h6 class="card-subtitle mb-2 text-muted">{{.Description}}</h6>
                        <p class="card-text mt-4">{{.Content}}</p>
                    </div>
                    {{ if or (isset .Params "categories") (isset .Params "file") }}
                    <div class="card-footer">
                        {{ if isset .Params "categories" }}
                        {{ .Params.Categories }}
                        {{ end }}

                        {{ if isset .Params "file" }}
                        <span class="badge badge-pill badge-success" style="float: right; margin-left: 10px;">PDF</span>
                        {{ end }}
                    </div>
                    {{ end }}
                </div>
            </div>
            {{ end }}
        </div>
    </div>
</section>

{{ end }}