{{ define "main" }}

<section id="exercises" class="exercises">
    {{ partial "breadcrumb.html" . }}

    <div class="container">
        <div class="row">
            <div class="col">
                <h1>{{ .Title }}</h1>
            </div>
        </div>
        <div class="row row-cols-1 row-cols-md-3">
            {{ range ((.Pages.ByParam "Title").ByWeight).ByParam "Level" }}

            {{ $link := .Permalink}}
            {{ $linkText := "Zur Anleitung" }}
            {{ $objectFit := "cover" }}
            {{ $objectPosition := "center center" }}
            {{ $padding := "0" }}

            {{ if gt (len .Pages) 1}}
                {{ $link := (index .Pages 0).Permalink}}
            {{ else if gt (len .Pages) 1}}
                {{ $link = .Permalink }}
                {{ $linkText = "Zu den Anleitungen" }}
            {{ end }}

            {{ if isset .Params "imgcover" }}
                {{ if eq .Params.imgcover false }}
                    {{ $objectFit = "contain" }}
                    {{ $padding = "12px 20px" }}
                {{ end }}
            {{ end }}

            {{ if isset .Params "imgposition" }}
                {{ $objectPosition = .Params.imgposition }}
            {{ end }}

            <div class="col mb-5">
                {{ if isset .Params "file" }}
                {{ $link = print .Permalink .Params.File }}
                <div class="card h-100" onclick="window.open('{{$link}}')">
                {{ else }}
                <div class="card h-100" onclick="location.href='{{$link}}'">
                {{ end}}
                    {{ if isset .Params "img" }}
                    <div class="card-header" style="padding: {{ $padding }}; height: 200px;">{{ if isset .Params "img" }}
                        <img src="/img{{.RelPermalink}}../{{(index .Params.img)}}" class="card-img-top mx-auto" alt="{{.Title}}" style="object-fit: {{$objectFit}}; object-position: {{$objectPosition}}; height: 100%;">{{ end }}
                    </div>
                    {{ end }}
                    
                    <div class="card-body">
                        {{ if isset .Params "file" }}
                        <span class="badge badge-pill badge-success" style="float: right; margin-left: 10px;">PDF</span>
                        {{ else }}
                        <span class="badge badge-pill {{ cond (eq .Params.Level 0) "badge-info" (cond (eq .Params.Level 1) "badge-primary" (cond (eq .Params.Level 2) "badge-success" "badge-danger")) }}" style="float: right; margin-left: 10px;">
                            Level {{ .Params.Level }}
                        </span>
                        {{ end }}
                        <h5 class="card-title">{{.Title}}</h5>
                        <h6 class="card-subtitle mb-2 text-muted">{{.Description}}</h6>
                        <p class="card-text mt-4">{{.Content}}</p>
                    </div>
                    <!-- <div class="card-footer">
                        {{ if gt (len .Pages) 1}}
                        <a href="{{.Permalink}}" class="card-link">Zu den Übungsanleitungen</a>
                        {{ else }}
                        <a href="{{.Permalink}}" class="card-link">Zur Anleitung</a>
                        {{ end }}
                    </div> -->
                </div>
            </div>
            {{ end }}
        </div>
    </div>
</section>

{{ end }}