{{ define "main" }}

<section id="exercises" class="exercises">
    {{ partial "breadcrumb.html" . }}
    
    <div class="container">
        <div class="row">
            <div class="col">
                <h1>{{ .Title }}</h1>
            </div>
        </div>
        <div class="row row-cols-1 row-cols-md-2 row-cols-lg-3">
            {{ range ((.Pages.ByParam "Title").ByWeight).ByParam "Level" }}
            <div class="col mb-5">
                {{ $link := (index .Pages 0).Permalink}}
                {{ $linkText := "Zur Anleitung" }}

                {{ if gt (len .Pages) 1}}
                    {{ $link = .Permalink }}
                    {{ $linkText = "Zu den Anleitungen" }}
                {{ end }}

                <div class="card h-100" onclick="location.href='{{ $link }}'">
                    <div class="card-header">{{ if isset .Params "img" }}
                        <img src="/img/uebungsanleitungen/{{.Params.img}}" class="card-img-top mx-auto" alt="{{.Title}}" style="object-fit: contain; height: 100px; padding: 10px 40px;">{{ end }}
                    </div>

                    <div class="card-body">
                        <span class="badge badge-pill {{ cond (eq .Params.Level 0) "badge-info" (cond (eq .Params.Level 1) "badge-primary" (cond (eq .Params.Level 2) "badge-success" "badge-danger")) }}" style="float: right;">
                            {{ cond (eq .Params.Level 0) "ab 5" (cond (eq .Params.Level 1) "ab 8" (cond (eq .Params.Level 2) "ab 11" "ab 14")) }}
                        </span>
                        <h5 class="card-title">{{.Title}}</h5>
                        <h6 class="card-subtitle mb-2 text-muted">{{.Description}}</h6>
                        <p class="card-text mt-4">{{.Content}}</p>
                    </div>
                    <!-- <div class="card-footer">
                        <a href="{{ $link }}" class="card-link">{{ $linkText }}</a>
                    </div> -->
                </div>
            </div>
            {{ end }}
        </div>
    </div>
</section>

{{ end }}