{{ define "main" }}

<section id="exercises" class="exercises">
    {{ partial "breadcrumb.html" . }}
    
    <div class="container">
        <div class="row">
            <div class="col">
                <h1>{{ .Title }}</h1>
                <!-- <p>{{ .Content }}</p> -->
            </div>
        </div>
        <div class="row row-cols-1 row-cols-md-2">
            {{ range (.Pages.ByParam "Title").Reverse }}
            <div class="col mb-5">
                <div class="card h-100" onclick="location.href='{{.Permalink}}'">
                    {{ if isset .Params "img" }}
                    <img src="/img/uebungsanleitungen/{{.Params.img}}" class="card-img-top mx-auto" alt="{{.Title}}" style="object-fit: cover; height: 150px;">
                    {{ end }}
                    <div class="card-body">
                        <h5 class="card-title">{{.Title}}</h5>
                        <h6 class="card-subtitle mb-2 text-muted">{{.Description}}</h6>

                        <p class="card-text mt-4">{{.Content}}</p>
                    </div>
                    <!-- <div class="card-footer">
                        <a href="{{.Permalink}}" class="card-link">Zu den Übungsanleitungen</a>
                    </div> -->
                </div>
            </div>
            {{ end }}
        </div>
    </div>
</section>

{{ end }}