<div class="inner-section secondary bankdetails">
    <div class="container">
        <div class="row">
            <div class="col-12 col-md-6 text-center">
                <h4>Bankverbindung</h4> 
                <p>
                    Raiffeisen Landesbank Oberösterreich<br /> 
                    IBAN: AT81 3400 0000 0508 7333<br /> 
                    BIC: RZOOAT2L<br />
                </p>
            </div>
            <div class="col-12 col-md-6 text-center">
                <h4>PayPal</h4>
                <form action="https://www.paypal.com/cgi-bin/webscr" method="post" target="_top">
                    <input type="hidden" name="cmd" value="_s-xclick">
                    <input type="hidden" name="hosted_button_id" value="FZS4TBU73STVA">
                    <input type="image" src="https://www.paypalobjects.com/de_DE/AT/i/btn/btn_donateCC_LG.gif" name="submit"
                        alt="Jetzt einfach, schnell und sicher online bezahlen – mit PayPal." border="0">
                    <img alt="" src="https://www.paypalobjects.com/de_DE/i/scr/pixel.gif" width="1" height="1" border="0">
                </form>
            </div>
        </div>
    </div>
</div>
