{{ define "main" }}

{{ $imageResource := ($.Scratch.Get "images").GetMatch "corona.jpg" }}
{{ $resized := $imageResource.Fit "1920x1200" }}
<section id="events-corona" class="dark"
    >
    <div class="container">
        <div class="row">
            <div class="col">
                <h2>COVID-19</h2>
                <p>Aufgrund der aktuellen COVID-19 Situation finden die regelmäßigen CoderDojos zur Zeit online statt.
                </p>
                <p>Im August werden wir zwei CoderDojos in Linz im Freien unter dem <a href="https://www.lentos.at"
                        target="_blank">Lentos</a> abhalten. Mehr Infos dazu folgen in Kürze.</p>
                <!-- <h4>Regeln für CoderDojos im Wissensturm</h4>
                <p>
                    Damit die Teilnahme am CoderDojo für alle so sicher als möglich ist, sind folgende Regeln für Kinder
                    und Jugendliche, erwachsene Begleitpersonen und Mentoren zu befolgen:
                </p>

                <ul>
                    <li><b>alle Teilnehmer müssen während der gesamten Veranstaltung einen Mund-Nasen-Schutz tragen, Visiere
                        sind nicht erlaubt</b></li>
                    <li>eine Anmeldung mit Angabe einer gültigen Email-Adresse ist erforderlich</li>
                    <li>pro Teilnehmer kann nur eine erwachsene Begleitperson teilnehmen, wir bitten Begleitpersonen,
                        die
                        nicht aktiv mit ihren Kindern an einem Projekt arbeiten, außerhalb der CoderDojo Räume zu warten
                    </li>
                    <li>kleinere Geschwister, die noch nicht am CoderDojo teilnehmen, können nicht in die CoderDojo
                        Räume
                        mitgenommen werden</li>
                    <li>alle Teilnehmer haben einen Abstand von mindestens 1,5 Meter zueinander einzuhalten (Ausnahme:
                        Menschen, die im gleichen Haushalt leben)</li>
                    <li>beim Eintreten sind die Hände zu desinfizieren</li>
                    <li>alle Leihgeräte müssen von den Teilnehmern vor Rückgabe desinfiziert werden</li>
                </ul>

                <p>
                    Kinder und Jugendliche, die die oben genannten Sicherheitsmaßnahmen nicht einhalten können oder
                    wollen, können weiterhin auch an virtuelle CoderDojos teilnehmen.
                </p> -->

                <h4>Voraussetzungen für Online CoderDojos</h4>
                <p>Bitte installiere für die Teilnahme an den online Workshops die <a href="https://zoom.us/download"
                        target="_blank">Zoom App</a>. Es gibt sie kostenlos für alle erdenklichen Plattformen. Danach
                    klicke zum Teilnehmen einfach auf den Teilnahmelink des jeweiligen Workshops. Eine Anleitung, wie
                    du an den Onlinemeetings teilnimmst, findest du unter <a
                        href="/termine/online-coderdojo-tipps">Tipps für Online CoderDojos</a>.</p>
                <p>Eine Anmeldung ist für online CoderDojos nicht notwendig.</p>
                <p>Du kannst jederzeit bei den online CoderDojos einsteigen, auch wenn du Anfänger bist. Wenn du nicht
                    sicher bist, welcher Workshop für dich geeignet ist, schreib uns an <a
                        href="mailto: info@linz.coderdojo.net">info@linz.coderdojo.net</a> wie alt du bist und ob du
                    schon Programmiererfahrung hast. Wir werden dir dann einen Vorschlag machen, mit welchen Workshop du
                    beginnen könntest.</a></p>
            </div>
        </div>
    </div>
</section>

<section id="events" class="events">
    <div class="container">
        <div class="row">
            <div class="col">
                <h2>Nächste Termine</h2>

                <p class="loadingText">Die Termine werden geladen ...</p>

                <table class="table" id="eventsTable">
                </table>
            </div>
        </div>
    </div>
</section>

<section id="events-description" class="secondary events">
    <div class="container">
        <div class="row">
            <div class="col">
                <p>{{ .Content }}</p>
            </div>
        </div>
    </div>
</section>

{{ end }}