body {
  background-color: #ffffff;
  padding-top: 61px;
  font-size: 15px; }

h1, h2, h3, h4 {
  color: #039be5; }
  h1 a, h1 a:hover, h2 a, h2 a:hover, h3 a, h3 a:hover, h4 a, h4 a:hover {
    color: #039be5;
    text-decoration: none; }

h1 {
  margin-top: 40px;
  margin-bottom: 10px; }

h2 {
  margin-top: 40px;
  margin-bottom: 10px; }

h3 {
  margin-top: 20px;
  margin-bottom: 10px; }

h4 {
  font-size: 16px;
  margin-top: 20px;
  margin-bottom: 10px; }

p, table, img {
  margin: 0 0 20px; }

@media (max-width: 1200px) {
  body {
    padding-top: 51px; } }

/* navigation */
.navbar > .container .navbar-brand {
  background-image: url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABQAAAAUCAYAAACNiR0NAAAABmJLR0QA/wD/AP+gvaeTAAAACXBIWXMAAA3XAAAN1wFCKJt4AAAAB3RJTUUH3wUaEws4DW5ArQAAApJJREFUOMuVlD1IW3EUxX/v1RBDoUQIFsHNMVLQiBDTQIYmDUWoWIkgZOvSJUNGoWMwLqUOAYeGh1MdrHToEBBiiymBopE4aVPw4yWBtIpDJcZo3+1kGvNh44ELl8u955z/fbyr0Brq6Ojoc6/X+3JgYOCR1Wp9YDKZlO3t7Z+Li4uJYrH4EUgCBv+D0+kcj8fjpWq1Kq1wfHwsbrdbgE3AfSvZ1NTUm8PDwxsElUpFMpmMbG1tSaVSERGRk5MT6evrE+AKCNdz3LtOJicnY5qmhXp7e2+ILCwskMvl2N/fZ3Nzk7GxMSwWC4ZhsLa2pgJPgSqQqg15PJ5xXddbPjESiYiu61IoFCQSidTq6XRagOu4Ah4DqIAyMzPzrr+/n7ugu7u78aVvAaVraGjIHwwGH7YbVBSFo6MjVFVFUZRaPZvNNrY6AFeX3+8PNajdQCAQYGVlpZYDGIZBLBZr1f6CeDxekDvAMAwJh8P1+6uPDVZXV393QlQulyWZTIrP52tHJsCPrvq9NCKRSDA/P082m+X09LSzr6VpWr6Vo7m5OVEU5TY3reKLmsvlthpFUqkUs7OziAhOp5NoNIrdbu/EX5rh4WH/+fn5DXfBYLCmajKZJBAIyMTERCcOXWomk0ksLS3l62V2dnZq+eXlJWdnZ524+wx8VQGWl5df5fP/OM1mc1N3T08PoVCoHdkf4HXtOBwcHHwvlUoWn8/32Gw2s7e3RzqdBmBwcJDp6WnsdjsXFxesr6+3IgwBH5qqXq83uru7K/l8XqxWqwBis9nE4XCIw+EQm83WuLOm89UEl8v1TNO0YjKZvL557SIFuJr+/XbEHo/nycjISFjXdWexWLy/sbFRBn4Bn4D3wLdWc38By8rmRCBfGBIAAAAASUVORK5CYII=");
  background-position: left center;
  background-repeat: no-repeat;
  font-size: 20px;
  text-transform: uppercase;
  padding-left: 30px;
  margin-left: 0;
  color: #ffffff !important; }

.navbar .navbar-nav > li > a, .navbar .navbar-nav > li > a:hover {
  color: #ffffff !important; }

.navbar i {
  font-size: 18px; }

.navbar .dropdown-menu {
  padding: 0; }
  .navbar .dropdown-menu li {
    border-bottom: solid 1px #e0e0e0; }
  .navbar .dropdown-menu li:last-of-type {
    border: none; }
  .navbar .dropdown-menu > li > a {
    line-height: 40px;
    padding: 0 15px; }

@media (max-width: 767px) {
  .navbar .navbar-nav {
    margin-top: 0;
    margin-bottom: 0; }
    .navbar .navbar-nav li {
      box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.1);
      border: none; }
    .navbar .navbar-nav li:last-of-type {
      border: none; }
    .navbar .navbar-nav li > a {
      line-height: 40px !important;
      padding: 0 15px; }
    .navbar .navbar-nav .dropdown-menu li > a {
      line-height: 40px !important;
      padding: 0 45px;
      color: #ffffff !important; }
  .navbar > .container .navbar-brand {
    margin-left: 15px; } }

.navbar-fixed-top .navbar-collapse, .navbar-fixed-bottom .navbar-collapse {
  max-height: calc(100vh - 50px); }

/* content */
a, a:hover, a:focus {
  color: #0277bd; }

.container-banner-image {
  width: 100%;
  height: auto;
  min-height: 100px;
  max-height: 25vh;
  overflow: hidden;
  position: relative; }
  .container-banner-image img {
    width: 100%;
    height: auto;
    min-height: 100px; }

.banner-image-content {
  position: absolute;
  bottom: 30px;
  background: rgba(3, 155, 229, 0.95);
  color: #ffffff;
  font-size: 14px;
  padding: 15px 15px; }

.fb-page {
  margin-top: 46px; }

@media (min-width: 768px) {
  .banner-image-content {
    /*width: 720px;*/
    width: 360px;
    left: calc(50% - 360px);
    font-size: 18px; } }

@media (min-width: 992px) {
  .banner-image-content {
    /*width: 940px;*/
    width: 470px;
    left: calc(50% - 470px);
    font-size: 20px; } }

@media (min-width: 1200px) {
  .banner-image-content {
    /*width: 1130px;*/
    width: 565px;
    left: calc(50% - 565px);
    font-size: 24px; } }

/* tables */
.subtitle td {
  background-color: #ddd; }

/* mentors */
.mentor-image {
  margin-top: 20px;
  margin-right: 20px;
  margin-bottom: 10px;
  width: 200px;
  max-width: 33%; }

/* text styles */
.warning {
  color: #e53935;
  font-weight: bold; }

body.sushi {
  /*.row {
		img {
			width: 100%;
		}
	}*/ }
  body.sushi .sushi-intro table.sushi-stats {
    background-color: #FFF59D;
    border-radius: 10px;
    width: auto; }
    body.sushi .sushi-intro table.sushi-stats tr:first-of-type td {
      border-top: none; }
    body.sushi .sushi-intro table.sushi-stats td {
      padding: 5px 20px;
      line-height: 1.3em;
      border-top: 1px solid #fff; }
      body.sushi .sushi-intro table.sushi-stats td:nth-of-type(2) {
        text-align: right; }
  body.sushi .sushi-overview img {
    margin: 0;
    width: auto; }
  body.sushi .sushi-overview .sushi-sprites-overview {
    width: auto; }
  body.sushi .sushi-overview .sushi-customes {
    padding-left: 0; }
    body.sushi .sushi-overview .sushi-customes li {
      list-style-type: none;
      display: inline; }
      body.sushi .sushi-overview .sushi-customes li > * {
        margin-bottom: 2px; }
  body.sushi .tip {
    background-color: #FFF59D;
    border-radius: 10px;
    padding: 10px 20px; }
  body.sushi h2, body.sushi h3 {
    clear: both; }
  body.sushi p {
    clear: both; }
  body.sushi ul {
    padding-left: 20px; }
  body.sushi ol {
    padding-left: 20px; }
    body.sushi ol li {
      clear: both;
      padding-bottom: 10px;
      padding-top: 20px;
      border-top: 1px dotted #666666; }
    body.sushi ol li:first-of-type {
      padding-top: 0;
      border-top: none; }
    body.sushi ol li img {
      padding-top: 20px;
      max-width: 100%; }
    body.sushi ol li img.right {
      width: 50%;
      padding-top: 0;
      padding-left: 20px;
      padding-bottom: 20px;
      float: right; }
  body.sushi .center {
    text-align: center; }
  body.sushi div.plainOrderedList li {
    padding-top: 0;
    padding-bottom: 0;
    border-top: none; }
  @media print {
    body.sushi {
      /*@page {
			margin: 1cm;
		}*/ }
      body.sushi body {
        margin: 0;
        padding: 0; }
      body.sushi h1 {
        margin-top: 0; }
      body.sushi .container {
        min-width: 100%; }
      body.sushi .navbar {
        display: none; } }
  body.sushi img.full {
    width: 100%; }
  body.sushi img.floatLeft {
    float: left; }
  body.sushi div.cd-alert-large {
    margin-top: 40px;
    font-size: 24px;
    text-align: center; }
  body.sushi div.cd-alert-medium {
    font-size: 20px;
    text-align: center; }
  body.sushi div.empty-page {
    height: 100vh; }
  @media print {
    body.sushi .page-break-before {
      page-break-before: always; } }
